<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarNav">
		  <div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="#">My Events</a>
		  </div>
		  <ul class="nav navbar-nav ml-auto">
				User : <%= user %> 
		</ul>
		  </div>
	  </nav>