
<div class="card" style="width: auto; margin-top: 4rem">
        <div class="card-body">
          <h5 class="card-title" id="eventName"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="eventDate"></h6>
          <p class="card-text" id="eventDescription"></p>
        </div>
      </div>

<script>

    showEventData = function (event) {
        var EventData = event.querySelectorAll('*');
        document.getElementById("eventName").innerHTML = EventData[2].innerHTML;
        document.getElementById("eventDate").innerHTML = EventData[3].innerHTML;
        document.getElementById("eventDescription").innerHTML = EventData[4].innerHTML;


    }     
</script>